::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: var(--scroll-color, lighten($default-bg-color, 5));
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color, lighten($default-bg-color, 18));
}
